<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/Mstyle.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/Mcommon.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mfunctions.js"></script>
<script type="text/javascript" src="/js/mfocusslide.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/js/iscroll.js"></script>
<script type="text/javascript" src="/js/jquery.drawer.min.js"></script>
<script type="text/javascript">
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
	});
</script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.icons_nav').flexslider({
			animation: "slide",
			directionNav: true, 
			animationLoop: false,
			controlNav: false, 
			slideshow: false,
			animationDuration: 300
		});
	});
</script>

<script type='text/javascript'> window.onerror=function(){return true;} </script> 
</head>

<body class="drawer drawer-left">
<!-- Nav Stsrt -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
      <a href="/">网站导航 MENU</a>
    </div>
    <ul class="drawer-nav-list">
$web_TopMenu$
    </ul>
 
  </nav>
</div>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<div class="clearfix"></div>
<!-- Nav End -->
<!--head start-->
<div id="head">

<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
<div class='MyQuick'> <div class="drawer-toggle drawer-hamberger"><span></span></div> </div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>

</div>
<!--head end-->
<div id="wrapper">
<!--focus start-->
    <div class="slide_container">
      <ul class="rslides" id="slider">
        $web_TopIMGAD$
      </ul>
    </div>
<script>
$(function () {
    $("#slider").responsiveSlides({
    auto: true,
    pager: false,
    nav: true,
    speed: 500,
    // 对应外层div的class : slide_container
    namespace: "slide"
    });
});
</script>
<!--focus end-->
<div class="clearfix"></div>
<!--body start-->
<div id="body">
<div class="HeightTab clearfix"></div>
<!--MyShow start-->
<DIV class="MyShow">

<div class='DivList3'>
$WebItemList$
<div class='clearfix'></div>
</div>
<div class="clearfix"></div>
</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>
<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle"><a  href='$WebCaseFolder$'>$WebCaseName$</a></div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='ArticleList'>
$WebCase_List$
<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>

<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle"><a  href='$WebAboutFolder$'>$WebAboutName$</a></div>
 </div>
<div class=" clearfix"></div>
<div class='DivList2'>
<div class='left'><p class='ColorLink'>$WebAboutImage$</p></div>
<div class='right'>
<p>$WebAboutContent$...<a href='$WebAboutFolder$' target='_blank'>详细>></a></p></div>
<div class='clearfix'></div>
</div>
<div class="clearfix"></div>
</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>

<!--MyShow start-->
<DIV class="MyShow">
<div class="tab">
<ul class="tab-hd">$WebNewNewsTitles$</ul>
<ul class="tab-bd">
$WebNewNewsList$
</ul>
</div>
<div class="clearfix"></div>
</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>

<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle"><a  href='$WebProductFolder$'>$WebProductName$</a></div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='ArticleList record'>
<ul>
$Block03_LeftItem$
</ul>
<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>
<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle">友情链接</div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='Links'>
$web_link$
<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="SearchTop">
<div class="SearchBar">
<form method="get" action="$search_FolderName$/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
</div>

<div class="inner">
$web_BottomHTML$
<div class='clearfix'></div>
</div>
</div>
<!--footer end -->

<!--MyBar start-->
<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
  <nav>

    <ul id="top_MyMenu" class="top_MyMenu">

  $web_BottomMenu$

                       </ul>

  </nav>

</div>
<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 
<!--MyBar end-->
<script type="text/javascript" src="/js/gd.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(".record").imgscroll({
		speed: 30,    
		amount: 0,    
		width: 1,     
		dir: "up"   
	});	


});
</script> 
</div>


</body>
</html>