.header{
    height: 60px;
    margin-bottom: 20px;
}
.header a{
    border: none;
}
.header .ui.menu .item:before {
    background: none;
}

.list {
    padding: 0 10px;
}

.list a {
    display: block;
    color: #333;
    overflow: hidden;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px dashed #e2e2e2e2;
}

.list .title {
    /* margin-right: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .time {
    color: #999;
    float: right;
    padding-left: 5px;
}

.el-pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.el-pagination::after,.el-pagination::before {
    display: table;
    content: ""
}

.el-pagination::after {
    clear: both
}

.el-pagination button,.el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-pagination .el-input__inner {
    text-align: center;
    -moz-appearance: textfield;
    line-height: normal
}

.el-pagination .el-input__suffix {
    right: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.el-pagination .el-select .el-input {
    width: 100px;
    margin: 0 5px
}

.el-pagination .el-select .el-input .el-input__inner {
    padding-right: 25px;
    border-radius: 3px
}

.el-pagination button {
    border: none;
    padding: 0 6px;
    background: 0 0
}

.el-pagination button:focus {
    outline: 0
}

.el-pagination button:hover {
    color: #409EFF
}

.el-pagination button:disabled {
    color: #c0c4cc;
    background-color: #fff;
    cursor: not-allowed
}

.el-pagination .btn-next,.el-pagination .btn-prev {
    background: center center no-repeat #fff;
    background-size: 16px;
    cursor: pointer;
    margin: 0;
    color: #303133
}

.el-pagination .btn-next .el-icon,.el-pagination .btn-prev .el-icon {
    display: block;
    font-size: 12px;
    font-weight: 700
}

.el-pagination .btn-prev {
    padding-right: 12px
}

.el-pagination .btn-next {
    padding-left: 12px
}

.el-pagination .el-pager li.disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-pager li,.el-pager li.btn-quicknext:hover,.el-pager li.btn-quickprev:hover {
    cursor: pointer
}

.el-pagination--small .btn-next,.el-pagination--small .btn-prev,.el-pagination--small .el-pager li,.el-pagination--small .el-pager li.btn-quicknext,.el-pagination--small .el-pager li.btn-quickprev,.el-pagination--small .el-pager li:last-child {
    border-color: transparent;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    min-width: 22px
}

.el-pagination--small .more::before,.el-pagination--small li.more::before {
    line-height: 24px
}

.el-pagination--small button,.el-pagination--small span:not([class*=suffix]) {
    height: 22px;
    line-height: 22px
}

.el-pagination--small .el-pagination__editor,.el-pagination--small .el-pagination__editor.el-input .el-input__inner {
    height: 22px
}

.el-pagination__sizes {
    margin: 0 10px 0 0;
    font-weight: 400;
    color: #606266
}

.el-pagination__sizes .el-input .el-input__inner {
    font-size: 13px;
    padding-left: 8px
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #409EFF
}

.el-pagination__total {
    margin-right: 10px;
    font-weight: 400;
    color: #606266
}

.el-pagination__jump {
    margin-left: 24px;
    font-weight: 400;
    color: #606266
}

.el-pagination__jump .el-input__inner {
    padding: 0 3px
}

.el-pagination__rightwrapper {
    float: right
}

.el-pagination__editor {
    line-height: 18px;
    padding: 0 2px;
    height: 28px;
    text-align: center;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px
}

.el-pager,.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev {
    padding: 0
}

.el-pagination__editor.el-input {
    width: 50px
}

.el-pagination__editor.el-input .el-input__inner {
    height: 28px
}

.el-pagination__editor .el-input__inner::-webkit-inner-spin-button,.el-pagination__editor .el-input__inner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev,.el-pagination.is-background .el-pager li {
    margin: 0 5px;
    background-color: #f4f4f5;
    color: #606266;
    min-width: 30px;
    border-radius: 2px
}

.el-pagination.is-background .btn-next.disabled,.el-pagination.is-background .btn-next:disabled,.el-pagination.is-background .btn-prev.disabled,.el-pagination.is-background .btn-prev:disabled,.el-pagination.is-background .el-pager li.disabled {
    color: #c0c4cc
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #409EFF
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #409EFF;
    color: #fff
}

.el-dialog,.el-pager li {
    background: #fff;
    -webkit-box-sizing: border-box
}

.el-pagination.is-background.el-pagination--small .btn-next,.el-pagination.is-background.el-pagination--small .btn-prev,.el-pagination.is-background.el-pagination--small .el-pager li {
    margin: 0 3px;
    min-width: 22px
}

.el-pager,.el-pager li {
    vertical-align: top;
    margin: 0;
    display: inline-block
}

.el-pager {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 0
}

.el-radio,.el-table th {
    -webkit-user-select: none
}

.el-date-table,.el-radio,.el-table th {
    -moz-user-select: none;
    -ms-user-select: none
}

.el-pager .more::before {
    line-height: 30px
}

.el-pager li {
    padding: 0 4px;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center
}

.el-menu--collapse .el-menu .el-submenu,.el-menu--popup {
    min-width: 200px
}

.el-pager li.btn-quicknext,.el-pager li.btn-quickprev {
    line-height: 28px;
    color: #303133
}

.el-pager li.btn-quicknext.disabled,.el-pager li.btn-quickprev.disabled {
    color: #c0c4cc
}

.el-pager li.active+li {
    border-left: 0
}

.el-pager li:hover {
    color: #409EFF
}

.el-pager li.active {
    color: #409EFF;
    cursor: default
}


/* detail */

.detail .main{
    border: 1px solid #e2e2e2e2;
    padding: 20px 20px;
    border-radius: 5px;
    /* margin-bottom: 50px; */
}

.detail .main .title{
    font-size: 18px;
    border-bottom: 1px dashed #e2e2e2e2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.detail .main .title span{
    display: block;
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

.entry{
    max-width: inherit;
    padding: 0;
}