.WidthTab{
	width:10px;
	height:1px;
	float:left;}
.WidthTab2{
	width:20px;
	height:1px;
	float:left;}	
.HeightTab{
	height:10px;
	width:1px;
	overflow:hidden;}

.HeightTab2{
	height:20px;
	width:1px;
	overflow:hidden;}

.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.wrap{width:1200px;margin:0 auto;}
.banner_box{width:100%;overflow: hidden;}
.banner_box .banner{float: left;width:1423px;}
.banner_box #img_ul{position: relative;}
.banner .wrap{overflow: inherit}
.banner_box .banner_1 .wrap{position: relative;}
.banner_box #img_ul{width:20000px;}
.banner_box .banner_1 .left{position: absolute;top:0;left:-86px;}
.banner_box .banner_1 .p1 span{z-index:50000;}
.banner_box .banner_1 .p1 .img3{left:0;}
.banner_box .banner_1 .p1 .img2{left:10px;}
.banner_112 .wrap{position: relative;}
.banner_112 .wrap .right{position: absolute;right:0;top:0;}
.slide4 .li_img a:hover img{opacity: 0.6;}
.slide6 .li_img a:hover img{opacity: 0.6;}
.banner_113 .wrap{position: relative;}
.banner_113 .ric{width:712px;position:absolute;left:50%;margin-left:-356px;display:block;}
.banner_113 .bg{position: absolute;left:0;top:0;width:100%;}
.banner_113{position: relative;}
.banner_113 .gdsj{position: absolute;width:498px;top:122px;left:378px;z-index:50000;height:320px;}
.banner_113 .wrap{height:100%;}
.banner_113 .gdsj .img1{position: absolute;left:50px;top:0;}
.banner_113 .gdsj .img2{position: absolute;left:5px;top:40px;}
.banner_113 .gdsj .img4{position: absolute;top:136px;left:74px;}
.banner_113 .gdsj .img3{position: absolute;left:16px;top:174px;}
.banner_113 .pho{position: absolute;left:798px;bottom:40px;}
.banner_112 .wrap{position: relative;}
.banner_112 .img1{position: absolute;left:16px;top:170px;z-index:50000;}
.banner_112 .img2{position: absolute;left:0;top:248px;z-index:50000;}
.banner_112 .img3{position: absolute;left:392px;top:254px;z-index:50000;}
.banner_112 .img4{position: absolute;left:400px;top:268px;z-index:50000;}
.banner_112 .wrap{height:448px;}



.DB_tab25 {width:100%; height: 100%; overflow:hidden;position:relative; min-width: 1200px; }
.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%; height:440px; display:none; background-repeat: no-repeat; }
.DB_tab25 .DB_bgSet li a{width:100%; height: 100%; display: block;}
.DB_tab25 .DB_imgSet{position:absolute;width:1200px;left:50%;margin-left:-550px;}


.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:260px;top:0px; opacity: 0.2}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:455px;top:110px}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:310px;top:135px}
.DB_tab25 .DB_imgSet .DB_1_4{position:absolute;left:525px;top:410px}

.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:130px;top:90px;}
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:530px;top:100px}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:1000px;top:10px}
.DB_tab25 .DB_imgSet .DB_2_4{position:absolute;left:570px;top:170px}
.DB_tab25 .DB_imgSet .DB_2_5{position:absolute;left:545px;top:270px}

.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:237px;top:0px;}
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:330px;top:220px}
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:376px;top:320px}

.DB_tab25 .DB_imgSet .DB_4_1{position:absolute;left:135px;top:170px;}
.DB_tab25 .DB_imgSet .DB_4_2{position:absolute;left:15px;top:100px}
.DB_tab25 .DB_imgSet .DB_4_3{position:absolute;left:145px;top:20px}
.DB_tab25 .DB_imgSet .DB_4_4{position:absolute;left:290px;top:20px}
.DB_tab25 .DB_imgSet .DB_4_5{position:absolute;left:390px;top:100px}
.DB_tab25 .DB_imgSet .DB_4_6{position:absolute;left:425px;top:260px}
.DB_tab25 .DB_imgSet .DB_4_7{position:absolute;left:560px;top:110px}
.DB_tab25 .DB_imgSet .DB_4_8{position:absolute;left:785px;top:295px}
.DB_tab25 .DB_imgSet .DB_4_9{position:absolute;left:-410px;top:420px;}

.DB_tab25 .DB_imgSet .DB_5_1{position:absolute;left:210px;top:95px;}
.DB_tab25 .DB_imgSet .DB_5_2{position:absolute;left:600px;top:100px}
.DB_tab25 .DB_imgSet .DB_5_3{position:absolute;left:600px;top:205px}
.DB_tab25 .DB_imgSet .DB_5_4{position:absolute;left:600px;top:280px}

.DB_tab25 .DB_menuWrap{position:absolute;width:1200px;left:50%;margin-left:-550px; top:92%}
.DB_tab25 .DB_menuWrap .DB_menuSet{width:100%;text-align:center;font-size:0; }
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 5px;display:inline-block; width: 20px; height: 20px; _display:inline; *display: inline;}


 #LinksBG {
	 width:100%;
	border-top:1px solid #DDDDDD;
	background:#F5F5F5;
	 }

 #Links {
	width:1200px;
	margin:auto;
	padding:10px 0px;
	line-height:25px;
	font-size:12px;
	}
 #Links span{
	font-weight:bold;}

 #Links a{
	padding:0px 7px;}	



.ADList li{
	float:left;
	padding-right:14px;
	float:left;}
.ADList .LastLi{
	padding-right:0px;}

#body   .tab{ }
#body   .tab-hd { 	background:url("/images/box_titlebg.png") no-repeat -150px top;
 overflow:hidden; zoom:1;}
#body   .tab-hd li{ float:left; width:118px; color:#fff; text-align:center; cursor:pointer;height:35px;line-height:35px;}
#body   .tab-hd li.active{	background:url("/images/box_titlebg2.png") no-repeat 0px top;
font-weight:bold;
padding:0px;
margin:0px;
padding-left:0px;
font-size:14px;
text-align:center;}
#body   .tab-hd li.active a{
    text-align:center;
	color:#FFF;
	padding:0px;
	margin:0px;
	padding-left:0;
	line-height:35px;
	background:none;}
#body   .tab-bd li{display:none; padding:10px; border-top:0 none; }	

#body .MainBlock .DivList{
	font-size:12px;
	padding:0px 10px;}
#body .MainBlock .DivList .DivLi{
	padding:0px 10px 0px 0px;
	}
#body .MainBlock .DivList .DivLi .DivLeft{
	float:left;
	padding:10px 0px;
	width:150px;
	height:100px;}
#body .MainBlock .DivList .DivLi .DivLeft img{
	width:150px;
	height:100px;}	
#body .MainBlock .DivList .DivLi .DivRight{
	float:right;
	padding:10px;
	width:220px;
	height:100px;}
#body .MainBlock .DivList .DivLi .DivRight p{
	line-height:180%;}
	

#body .MainBlock .DivList .DivLi a{
	line-height:29px;
	padding:0px;
	height:29px;
	overflow:hidden;}		
	
#body .MainBlock .DivList .DivLi .Title{
	font-size:14px;
	font-weight:bold;
	}
#body .MainBlock .DivList .DivLi .Des{
	color:#666;}	


/* main block*/
#body .MainBlock{
	width:1080px;
	margin:auto;
	font-size:12px;
	}
#body .MainBlock .BlockInner{
	border:1px solid #e5e5e5;
	}
#body .MainBlock .left .BlockInner,#body .MainBlock .right .BlockInner{
	border:1px solid #e5e5e5;
	height:263px;
	overflow:hidden;}	
#body .MainBlock .left2 .BlockInner,#body .MainBlock .right2 .BlockInner{
	border:1px solid #e5e5e5;
	height:220px;
	overflow:hidden;}	
#body  .left{
	float:left;
	width:620px;
	height:300px;
	overflow:hidden;
	}
#body  .right{
	width:450px;
	float:right;
	height:300px;
	}

#body  .left .LeftAbout{
	width:300px;
	float:left;
	}
#body  .left .RightNews{
	width:310px;
	float:right;}

#body  .left2{
	float:left;
	width:310px;
	}
#body  .right2{
	width:760px;
	float:right;
	}
	

#body .topic2{
	height:35px;
	background:url("/images/box_titlebg3.png") no-repeat -135px top;
	}
#body .topic2 .TopicTitle{
	width:100px;
	margin:auto;
	line-height:35px;
	background:url("/images/box_titlebg3.png") no-repeat 0px top;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;}	
#body .topic2 .TopicTitle a{
	color:#FFF;}	
#body .topic{
	height:35px;
	background:url("/images/box_titlebg3.png") no-repeat 0px top;
	}
#body   .topic .TopicTitle{
	float:left;
	width:118px;
	text-align:center;
	padding-left:0px;
	font-size:14px;
	color:#FFFFFF;
	height:35px;
	font-weight:bold;
	line-height:35px;}
#body   .topic .TopicTitle p{
	font-size:9px;
	text-transform:uppercase;
	font-weight:normal;
	color:#999;
	line-height:150%;}
#body  .TopicTitle a{
	color:#FFFFFF;
	text-decoration:none;}	
#body   .topic .TopicMore{
	float:right;
	font-size:12px;
	padding-right:10px;
	padding-top:9px;}
#body   .topic .TopicMore img{
	}				
	
#body  .LeftAbout .MBlockTable , #body  .left2 .MBlockTable{
	padding-left:10px;}

#body  .MBlockTable td{
	line-height:25px;
	font-size:12px;
}
#body  .MBlockTable .ListTitle{
	background:url("/images/box_icon1.png") no-repeat 0px 8px;
	padding-left:15px;
}
	
#body    .MBlockTable td{
	text-align:left;
	padding-left:0;}
	
#body  .MBlockTable span{
	color:#9a9a9a;
	padding-left:10px;
	font-size:12px;}
		
#body .MainBlock .left .img{
	padding:0px 10px 7px 10px;
	width:210px;
	float:left;}
#body .MainBlock .right h1{
	font-size:14px;
	text-align:center;}

#body .MainBlock .left .txt{
	padding:0px 10px 0px 10px;
	}
#body .MainBlock .left .txt p{
	line-height:200%;}

#body .ProductShow {
	BORDER: #dddddd 1px solid;
	WIDTH: 1078px; 
	font-size:12px;
}

 #body .MainBlock .right2 .Solutions{
	width: 796px;
	padding:10px 20px;
	height:180px;
	overflow:hidden;
}
 	
 #body .MainBlock .right2  #Solutionsdemo .box {	FLOAT: left; WIDTH: 199px; TEXT-ALIGN: center;padding:0px 0px;font-size:12px;}
 #body .MainBlock .right2  #Solutionsdemo .box IMG {	BORDER: #dedede 1px solid; PADDING: 3px; DISPLAY: block; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px auto; width:166px;height:166px;}

 #Solutionsdemo {
overflow:hidden;
width: 796px;
}

 #Solutionsindemo {
float: left;
width: 800%;

}
 #Solutionsdemo1 {
float: left;
padding:0px 10px;

}
 #Solutionsdemo2 {
float: left;
padding:0px 10px;}


.index-choose-us  .blk_29 {	 PADDING:0px 0px; OVERFLOW: hidden;  ZOOM: 1; POSITION: relative;}
	
.index-choose-us  .blk_29 .LeftBotton {display:none;BACKGROUND: url(/images/pro_arrow_left.gif) no-repeat 0px 0px; LEFT: 10px; FLOAT: left; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 65px; HEIGHT: 114px}
.index-choose-us  .blk_29 .RightBotton {display:none;RIGHT: 5px; BACKGROUND: url(/images/pro_arrow_right.gif) no-repeat -0px 0px; FLOAT: right;right:-5px; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 65px; HEIGHT: 114px}
.index-choose-us  .blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden;  PADDING:15px 0 0 0px;float:left;height:180px;width:980px;POSITION: relative;left:0px;}
.index-choose-us  .blk_29 .box {	FLOAT: left; WIDTH: 196px; TEXT-ALIGN: center;}
.index-choose-us  .blk_29 .box IMG {	BORDER: #DEDEDC 1px solid; PADDING: 1px; DISPLAY: block;  MARGIN: 0px auto; width:155px;height:155px;}
.index-choose-us  .blk_29 .box A:hover IMG {	BORDER: #723a19 1px solid;}
.index-choose-us  .blk_29 .box P {	WIDTH: 196px; LINE-HEIGHT: 20px;text-align:center;font-size:12px;color:#723a19}


.index-what-is .blk_29 {	 PADDING:0px 0px; OVERFLOW: hidden;  ZOOM: 1; POSITION: relative;}
	
.index-what-is .blk_29 .LeftBotton {display:none;BACKGROUND: url(/images/pro_arrow_left.gif) no-repeat 0px 0px; LEFT: 10px; FLOAT: left; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 65px; HEIGHT: 114px}
.index-what-is .blk_29 .RightBotton {display:none;RIGHT: 5px; BACKGROUND: url(/images/pro_arrow_right.gif) no-repeat -0px 0px; FLOAT: right;right:-5px; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 65px; HEIGHT: 114px}
.index-what-is .blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden;  PADDING:15px 0 0 0px;float:left;height:180px;width:980px;POSITION: relative;left:0px;}
.index-what-is .blk_29 .box {	FLOAT: left; WIDTH: 196px; TEXT-ALIGN: center;}
.index-what-is .blk_29 .box IMG {	 PADDING: 1px; DISPLAY: block;  MARGIN: 0px auto; width:80px;height:80px;}
.index-what-is .blk_29 .box A {	color:#FFF;font-size:18px;}
.index-what-is .blk_29 .box P {	WIDTH: 196px; LINE-HEIGHT: 50px;text-align:center;font-size:12px;color:#723a19}
.index-what-is .blk_29 .box A:hover{
	font-weight:bold;}


#body{
	overflow:hidden;
	}